# GENERAL
NAME=XXXXXX
AGE=00
BIRTH_DATE=DD/MM/YYYY
GENDER=XXXX
RACE=XXXX
HEIGHT=00
WEIGHT=00
PHONE=(00) 00000-0000
CPF=000.000.000-00
RG_NUMBER=00.000.000-0
RG_AGENCY=XXX
RG_STATE=XX
# ADDRESS
CEP=00000-000
STATE=XXXXXXX
CITY=XXXXX
STREET=XXXXXX
NEIGHBORHOOD=XXXXX
NUMBER=XXXXX
MAPS_LINK=https://www.google.com/maps/embed?pb=XXXXXXXXXXXXXXXXXXXXXX
# WORK
NIS_PIS=XXXXXXXXX-X
CONTRACT_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# MILITARY
MILITARY_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# SOCIALS
YOUTUBE=https://www.youtube.com/@xxxxxxxxxxxxx
TWITCH=https://www.twitch.tv/xxxxxxxxxxx
REDDIT=https://www.reddit.com/user/xxxxxxxxx/
GITHUB=https://github.com/xxxxxxxxxxx
LINKEDIN=https://www.linkedin.com/in/xxxxxxxxx
INSTAGRAM=https://www.instagram.com/xxxxxx/
TWITTER=https://x.com/xxxxxxxxx
STEAM=https://steamcommunity.com/id/xxxxxxx/
DISCORD=xxxxxxxxxx