# GENERAL
NAME=XXXXXX
AGE=00
BIRTH_DATE=DD/MM/YYYY
GENDER=XXXX
RACE=XXXX
HEIGHT=00
WEIGHT=00
PHONE=(00) 00000-0000
CPF=000.000.000-00
RG_NUMBER=00.000.000-0
RG_AGENCY=XXX
RG_STATE=XX
# ADDRESS
CEP=00000-000
STATE=XXXXXXX
CITY=XXXXX
STREET=XXXXXX
NEIGHBORHOOD=XXXXX
NUMBER=XXXXX
MAPS_LINK=https://www.google.com/maps/embed?pb=XXXXXXXXXXXXXXXXXXXXXX
# WORK
NIS_PIS=XXXXXXXXX-X
CONTRACT_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# MILITARY
MILITARY_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# SOCIALS
YOUTUBE=https://www.youtube.com/@xxxxxxxxxxxxx
TWITCH=https://www.twitch.tv/xxxxxxxxxxx
REDDIT=https://www.reddit.com/user/xxxxxxxxx/
GITHUB=https://github.com/xxxxxxxxxxx
LINKEDIN=https://www.linkedin.com/in/xxxxxxxxx
INSTAGRAM=https://www.instagram.com/xxxxxx/
TWITTER=https://x.com/xxxxxxxxx
STEAM=https://steamcommunity.com/id/xxxxxxx/
DISCORD=xxxxxxxxxx
# DRIVER
FIRST_LICENSE=DD/MM/YYYY
EMISSION_DATE=DD/MM/YYYY
EXPIRATION_DATE=DD/MM/YYYY
CATEGORY=X
OBSERVATION=XXX X
LICENSE_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# PASSAPORT
PASSPORT_NUMBER=XXXXXX
PASSPORT_EMISSION_DATE=DD/MM/YYYY
PASSPORT_EXPIRATION_DATE=DD/MM/YYYY
PASSPORT_BR_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg"
PT_PASSPORT_NUMBER=XXXXXXX
PT_PASSPORT_EMISSION_DATE=DD/MM/YYYY
PT_PASSPORT_EXPIRATION_DATE=DD/MM/YYYY
PT_PASSPORT_FILE_PATH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
# HEALTH
HEALTH_INSURANCE_CARD='/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg'
HEALTH_INSURANCE_PLAN=XXXXXXXXXX
HEALTH_INSURANCE_NUMBER=0000 0000 0000 0000
HEALTH_INSURANCE_ACOMODATION=XXXX
HEALTH_INSURANCE_EXPIRATION_DATE=MM/YYYY
HEALTH_INSURANCE_COVERAGE=XXXXXXX
HEALTH_INSURANCE_ANS=000.000/00-0
HEALTH_INSURANCE_SEGMENTATION=XXXXXXX
GLASSES_PRESCRIPTION="/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg"
EYE_CEMA="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
AUDIO_ANGELICA="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
AUDIO_NESF="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
AUDIO_RENATA="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
BIRTH_DATA="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
NEUROPSYCHOLOGIST="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
SCHOOL_HEALTH="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
ALLERGIES="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
BLOOD_TEST='/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf'
BLOOD_TYPE=X
# ACADEMICS
SCHOOL_DIPLOMA="/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg"
SCHOOL_IDS="/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg"
SCHOOL_CERTIFICATES="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
SCHOOL_HISTORY="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
SCHOOL_MUGSHOTS='/NAME_OF_THE_FILE_IN_STATIC_DIR.jpg'
UMC_CONTRACT="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
UMC_CONCLUSION="/NAME_OF_THE_FILE_IN_STATIC_DIR.pdf"
UMC_DIPLOMA="/diploma.pdf"
UMC_DIPLOMA_LINK=https://XXXXXXXXXXXXXX
UMC_HISTORY='NAME_OF_THE_FILE_IN_STATIC_DIR.pd'
# EMAILS
EMAIL1=XXXXXXX@gmail.com
EMAIL2=XXXXXXX@gmail.com
EMAIL3=XXXXXXX@gmail.com
EMAIL4=XXXXXXX@gmail.com
EMAIL5=XXXXXXX@gmail.com
EMAIL6=XXXXXXX@gmail.com
EMAIL7=XXXXXXX@gmail.com
EMAIL8=XXXXXXX@cock.li
EMAIL9=XXXXXXX@cock.li
EMAIL10=XXXXXX@cocaine.ninja
EMAIL11=XXXXXX@aaathats3as.com
EMAIL12=XXXXXX@waifu.club
# BANK
BANK_NAME=XXXXXXXXX
BANK_AGENCY=XXXX
BANK_ACCOUNT=XXXXXXX-X
BANK_NUMBER=XXXX
# PHONES
RESIDENTIAL_PHONE=(00) 00000-0000